{% extends "./base.html" %} {% block title %}Cart{% endblock %} {% block
custom_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/cart.css') }}"
/>
<script src="{{ url_for('static', filename='js/quantity.js') }}"></script>
{% endblock %} {% block content %}
<div id="cart-items-container" class="cart-items-container">
  <!-- Cart items will be dynamically added here -->
</div>

<div id="total-price-container" class="total-price-container"></div>

<script src="{{ url_for('static', filename='js/cart_management.js') }}"></script>

{% endblock %}
