{% extends "./base.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/categories.css') }}">
{% endblock %}

{% block content %}
  <div class="centered_container">
    <div class="hero__content">
      <h2 class="hero__title">
        Welcome! <span class="highlight">{{user_name}}</span>
      </h2>
      <h3>Please choose the type of meal you'd like to order</h3>
    </div>
    <div class="menu-container">
            {% for category in items_categories %}
                <a href="{{ url_for('customers.category_items', user_name=user_name, category=category) }}"
                   class="menu-item"
                   style="background-image: url('{{ url_for('static', filename='img/categories/' + category + '.png') }}');
                    background-size: cover; background-position: center;">
                    <div class="menu-text">{{ category }}</div>
                </a>
            {% endfor %}
    </div>
  </div>
{% endblock %}

