{% extends "./base.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dishes.css') }}">
{% endblock %}

{% block content %}
    <section class="section" id="menu">
      <div class="container">
        <div class="menu__section-top">
          <h2>{{ category }}</h2>
        </div>
        {% for dish in dishes %}
        <div class="menu__wrapper">
          <div class="menu__item">

            <div class="menu__img">
              <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
            </div>

            <h3>{{ dish }}</h3>
            <span class="dish__price">$29.99</span>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
{% endblock %}
