{% extends "./base.html" %} {% block title %} Home Page {% endblock %} {% block
custom_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/item_details.css') }}"
/>
<script src="{{ url_for('static', filename='js/quantity.js') }}"></script>

{% endblock %}

{% block content %}
<div class="dish-container">
  <h1 class="dish-name">{{menu_item}}</h1>
  <img
    src="{{ url_for('static', filename='img/logo.png') }}"
    alt="Dish Name"
    height="300"
    width="300"
  />
  <h3><span class="highlight">Description of the meal</span></h3>
  <button class="add-to-cart">Add to Cart</button>
  <!-- Quantity Selector -->
  <div class="quantity-selector">
    <button class="decrement">-</button>
    <input type="number" class="quantity-input" value="1" min="1" />
    <button class="increment">+</button>
  </div>
</div>

{% endblock %}