{% extends "./base_manager.html" %}

{% block title %}
    Insert Employee
{% endblock %}

{% block custom_css %}
    {# Include custom CSS files for the child template #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homePage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
{% endblock %}

{% block content %}


    <script src="{{ url_for('static', filename='js/alert.js') }}"></script>

    {% for type, message in get_flashed_messages(with_categories=true) %}

        <div id="myAlert" class="alert alert-{{ type }}" role="alert">
             {% if type == 'danger' %}
                &#x274C;
            {% elif type == 'success' %}
                &#x2714;
            {% endif %}
            {{ message }}
        </div>
    {% endfor %}


    <div class="full-screen">

            <!-- Form for submitting a table code -->
            <div class="form-overlay">
             <h1>Change Password For {{ employee.name }}</h1>
    <form id="change_pass" action="{{ url_for('employees.change_password', employee_id=employee.id) }}" method="post">

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>

        <label for="confirm_password">Confirm Password:</label><br>
        <input type="password" id="confirm_password" name="confirm_password" required><br>



        <button type="button" onclick="setConfirmationCallback(() => document.getElementById('change_pass').submit()); showModal();">Submit</button>
    </form>



            </div>


<!-- The Modal  -->
        <div id="confirmationModal" class="modal">
            <div class="modal-content">
                <span class="close-button" onclick="closeModal()">&times;</span> <!-- Close button "x" -->
                <p>Are you sure you want to Proceed?</p>
                <button class="modal-button yes" onclick="confirmAction()">Yes</button>
                <button class="modal-button no" onclick="noAction()">No</button>
            </div>
        </div>

        </div>


{% endblock %}
