{% extends "./base_manager.html" %}

{% block title %}
    Insert Employee
{% endblock %}

{% block custom_css %}
    {# Include custom CSS files for the child template #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homePage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
{% endblock %}

{% block content %}


    <script src="{{ url_for('static', filename='js/alert.js') }}"></script>

    {% for type, message in get_flashed_messages(with_categories=true) %}

        <div id="myAlert" class="alert alert-{{ type }}" role="alert">
             {% if type == 'danger' %}
                &#x274C;
            {% elif type == 'success' %}
                &#x2714;
            {% endif %}
            {{ message }}
        </div>
    {% endfor %}


    <div class="full-screen">

            <!-- Form for submitting a table code -->
            <div class="form-overlay">
             <h1>Change Password For {{ employee.Name }}</h1>
    <form action="{{ url_for('employees.change_password', employee_id=employee.id) }}" method="post">

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>

        <label for="confirm_password">Confirm Password:</label><br>
        <input type="password" id="confirm_password" name="confirm_password" required><br>



        <input type="submit" value="Submit">
    </form>



            </div>
        </div>


{% endblock %}
