{% extends "./base.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block custom_css %}
    {# Include custom CSS files for the child template #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homePage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
{% endblock %}

{% block content %}
    <div class="full-screen">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
            <!-- Form for submitting a table code -->
            <div class="form-overlay">
                <form action="{{ url_for('employees.manager_login') }}" method="post">
                    <label for="usr_name">Username:</label><br>
                    <input type="text" id="usr_name" name="usr_name" required>

                    <label for="password">Password:</label><br>
                    <input type="text" id="password" name="password" required>
                    <div class="button-container">
                    <button type="submit">Submit</button>
                </div>
                </form>
            </div>
        </div>

    </div>

{% endblock %}
