{% extends "./base_manager.html" %}

{% block title %}
    Insert Employee
{% endblock %}

{% block custom_css %}
    {# Include custom CSS files for the child template #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homePage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
{% endblock %}

{% block content %}


    <script src="{{ url_for('static', filename='js/alert.js') }}"></script>

    {% for type, message in get_flashed_messages(with_categories=true) %}

        <div id="myAlert" class="alert alert-{{ type }}" role="alert">
             {% if type == 'danger' %}
                &#x274C;
            {% elif type == 'success' %}
                &#x2714;
            {% endif %}
            {{ message }}
        </div>
    {% endfor %}


    <div class="full-screen">

            <!-- Form for submitting a table code -->
            <div class="form-overlay">
                 <h1>Insert Employee</h1>
                    <form id="Form" action="{{ url_for('employees.insert_employee') }}" method="post">
                        <label for="name">Name:</label><br>
                        <input type="text" id="name" name="name"><br>

                        <label for="phone_number">Phone Number:</label><br>
                        <input type="text" id="phone_number" name="phone_number"><br>

                        <label for="password">Password:</label><br>
                        <input type="password" id="password" name="password"><br>

                        <label for="position">Position:</label><br>
                        <input type="text" id="position" name="position"><br>

                        <label for="salary">Salary:</label><br>
                        <input type="number" id="salary" name="salary"><br>


                       <button type="button" onclick="setConfirmationCallback(() => document.getElementById('Form').submit()); showModal();">Submit</button>


                    </form>
</div>
        <!-- The Modal -->
                        <div id="confirmationModal" class="modal">
                            <div class="modal-content">
                                <span class="close-button" onclick="closeModal()">&times;</span> <!-- Close button "x" -->
                                <p>Are you sure you want to insert this employee</p>
                                <button class="modal-button yes" onclick="confirmAction()">Yes</button>
                                <button class="modal-button no" onclick="noAction()">No</button>
                            </div>
                        </div>


    </div>


{% endblock %}
