{% extends "./base_manager.html" %}

{% block title %} Update Meal Details {% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/update_item.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
{% endblock %}

{% block content %}
    <div class="dish-container">
        <form id="update_meal" action="{{ url_for('employees.update_menu_item' , item_id=menuItem.id) }}" method="post"
              id="update-meal-form" enctype="multipart/form-data">
            <h1 class="dish-name">{{ menuItem.name }}</h1>
            <input type="text" name="name" value="{{ menuItem.name }}" placeholder="Name" class="dish-input">
            <textarea name="description" placeholder="Description"
                      class="dish-input">{{ menuItem.description }}</textarea>

            <div class="price-display">₪ <input type="number" name="price" value="{{ menuItem.price }}"
                                                placeholder="Price" class="price-input"></div>


            <label for="item_cuisine_type"> Cuisine Type</label>
                        <select id="item_cuisine_type" name="item_cuisine_type" class="form-select" required>
                            <option value="" disabled selected>Select cuisine</option>
                            {% for cuisine in ['Turkish', 'Mediterranean', 'American', 'Italian', 'French', 'Greek', 'Seafood', 'Beverages'] %}
                                <option value="{{ cuisine }}">{{ cuisine }}</option>
                            {% endfor %}
                        </select>
            <input type="file" name="image" accept=".png" class="image-input">


            <div class="button-container">
                <button type="button" onclick="setConfirmationCallback(() => document.getElementById('update_meal').submit()); showModal();">Update Meal</button>
            </div>


        </form>

        <div class="button-container">
            <form id="deleteForm" action="{{ url_for('employees.delete_menu_item', item_id=menuItem.id) }}"
                  method="post">
                <button type="button"
                        onclick="setConfirmationCallback(() => document.getElementById('deleteForm').submit()); showModal();">
                    Delete
                </button>
            </form>
        </div>


       <!-- The Modal  -->
        <div id="confirmationModal" class="modal">
            <div class="modal-content">
                <span class="close-button" onclick="closeModal()">&times;</span> <!-- Close button "x" -->
                <p>Are you sure you want to Proceed?</p>
                <button class="modal-button yes" onclick="confirmAction()">Yes</button>
                <button class="modal-button no" onclick="noAction()">No</button>
            </div>
        </div>

    </div>
{% endblock %}
