<html>
<head>
<title>Page Not Found</title>
<script language="JavaScript" type="text/javascript">

var seconds =10;
// countdown timer. took 6 because page takes approx 1 sec to load

var url="{{url_for('index')}}";
// variable for index.html url

function redirect(){
if (seconds <=0){

// redirect to new url after counter down.
window.location = url;
} else {
seconds--;
document.getElementById("pageInfo").innerHTML="Redirecting to Home Page after "
+seconds+" seconds."
setTimeout("redirect()", 1000)
}
}
</script>
</head>

{% extends "header.html" %}
//exporting navbar and header from header.html
{% block body %}

<body onload="redirect()">
<p id="pageInfo"></p>
{% endblock %}
</body>

</html>
