<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
</head>
<body>
    <h1>Add Student</h1>
    <form action="{{ url_for('add_student') }}" method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="std_name"><br>
        <label for="age">Age:</label><br>
        <input type="number" id="age" name="std_age"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
