<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>All Students</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>All Students</h1>
    <ul>
        {% for student in students %}
        <li><a href="{{ url_for('student_detail', student_id=student[0]) }}">{{ student[1] }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
