<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
</head>
<body>
    <h1>Courses</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Student ID</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}

                <h2>{{ course[1] }}</h2>
                <h2>{{ course[2] }}</h2>

            {% endfor %}
        </tbody>
    </table>
</body>
</html>
