<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>Student Detail</h1>
    <h2>{{ student[1] }}</h2>
    <p>ID: {{ student[0] }}</p>
    <p>Age: {{ student[2] }}</p>
    <!-- Add more details as needed -->
    <img src="{{ url_for('static', filename='img/' ~ student[0] ~ '.jpg') }}" alt="{{ student[1] }}">
    <a href="{{ url_for('index') }}">Back to all students</a>
</body>
</html>
