/* my_style.css */

body {
    background: #f5f5dc;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}


header {

    height: 100px; /* Adjust the height */
    margin: 0 auto; /* Center the header horizontally */
    border-bottom: 5px solid #cbcb9d; /* Add bottom border */
}

nav {
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 30px; /* Adjust padding to indent the navigation bar from the left edge */
}

nav img {
    max-width: 80px; /* Adjust the maximum width of the image */
    height: auto; /* Allow height to adjust automatically to maintain aspect ratio */
    margin-right: 10px;
}

h1 {
    margin: 0;
}

.highlight {
    color: #bb512c;
}

/* Update CSS for footer */
footer {
    background: #cbcb9d;
    padding: 40px 0;
    text-align: center;

    display: flex;
    flex-direction: column; /* Stack footer__top and footer__bottom vertically */
    align-items: center; /* Center horizontally */
}

/* Update CSS for footer__bottom */
.footer__bottom {
    flex: 1; /* Let it grow to fill remaining space */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}


.footer__wrapper {
    display: flex;
    gap: 30px; /* Adjust the gap between the columns */
}

footer h3 {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #acb2b2;
    text-decoration: none;
    font-size: 0.9rem;
}

ul li a:hover {
    color: #0c1b21;
}
