.button-container {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Center the buttons vertically */
  gap: 20px; /* Add space between buttons */

  width: 100%; /* Set the width of the container */
  height: 100px; /* Set the height of the container */
}

.button-container button {
  padding: 15px 40px; /* Increase padding to create space within buttons */
  border: none;
  border-radius: 5px;
  background-color: #0c1b21;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: Arial, sans-serif; /* Set font family */
  font-weight: bold; /* Set font weight */
  text-decoration: none; /* Remove underline */
}

.button-container button:hover {
  background-color: #bb512c;
}
a {
  text-decoration: none;
}
