.meal-box {
  display: flex;
  background-color: #d9d9bd;
  padding: 10px;
  margin: 20px;
  border-radius: 8px;
}

.left-side,
.right-side {
  padding: 10px;
  position: relative;
}

.left-side {
  width: 30%;
  text-align: center;
}

.meal-image {
  width: 100%;
  border-radius: 8px;
}

.right-side {
  width: 70%;
}

.meal-name,
.meal-description,
.meal-price {
  margin: 10px 0;
}

.quantity-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quantity-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.increment,
.decrement {
  border: 2px solid black;
  background-color: #aeae8f;
  color: black;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
}

.quantity-input {
  width: 30px;
  text-align: center;
  margin: 0 10px;
  border: none;
  background: none;
  font-size: 15px;
}

.delete-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.delete-button img {
  width: 20px;
  height: 20px;
}

/* for total price */
.total-price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;
}

.total-price {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
