li {
  padding: 5px;
}
.dish-container {
  width: 100%;
  max-width: 600px;
  text-align: center;
  margin-left: auto; /* Centers the container horizontally */
  margin-right: auto; /* by pushing equal space on both sides */
}

.dish-name {
  color: #333;
  margin-bottom: 20px;
}

.dish-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.ingredients-list {
  text-align: left;
  margin: 0 auto 20px;
  display: inline-block;
  text-align: left;
}

.add-to-cart {
  display: block; /* This ensures the button appears on its own line */
  width: max-content;
  margin: 20px auto; /* Centers the button horizontally and adds space above */
  background-color: #0c1b21;
  color: #fff;
  padding: 15px 32px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.quantity-selector {
  display: inline-flex; /* Aligns the buttons and input field inline */
  align-items: center; /* Vertically centers the items */
  margin-left: 10px;
}

.quantity-input {
  width: 50px; /* Fixed width for the number input */
  text-align: center; /* Centers the number inside the input */
}

.increment,
.decrement {
  cursor: pointer; /* Changes the cursor to pointer to indicate clickable */
  background-color: transparent;
  border: none;
  color: black;
  font-size: 20px;
}