li {
  padding: 5px;
}

.dish-container {
  width: 100%;
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.dish-name {
  color: #333;
  margin-bottom: 20px;
}

.dish-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.ingredients-list {
  text-align: left;
  margin: 0 auto 20px;
  display: inline-block;
}

.add-to-cart {
  display: inline-block;
  width: max-content;
  background-color: #0c1b21;
  color: #fff;
  padding: 15px 32px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.quantity-selector {
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
}

.quantity-input {
  width: 50px;
  text-align: center;
}

.increment, .decrement {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: black;
  font-size: 20px;
}

.hbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.hbox > div {
  margin-left: 25px;
}

.hbox > span {
  font-size: 16px;
}

.price-display {
  font-size: 18px;
  color: #333;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
